/*~~~~~~~~~~~ GENERAL ~~~~~~~~~~~~*/
* {
    margin: 0;
    padding: 0;  
}
header, main, aside, footer, nav{
    display: block;
    margin: 0px auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.warpper{
    margin: 0 auto;
    width: 1000%;
}


.debugger{
    background-color: purple;
}
.flexContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.smallPic{
    height: 25px;
    left: 25px;
    background-color: lightgrey;
}

footer{
    width: 360px;
    height: 29px;
    color: white;
}
/*~~~~~~~~~~~ GENERAL HEADER ~~~~~~~~~~~~*/
header {
    background-color:orange;
    height: 75px;
    width: 360px;
}
#hum{
    width: 25px;
    height: 25px;
    margin-left: 25px;    
}
header>h4 {
    position: absolute;
    margin-left: 55px;
    color: white;
    padding-top: 10px;
    font-size: 15px;
}
#logo{
    background-image: url("../images/logo.png");
    width: 133px;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 20px;
}


#home{
    width: 25px;
    height: 25px;
    margin-right: 25px;
}
/*~~~~~~~~~~~ General Main ~~~~~~~~~~~~*/
main{
    background-color: lightgrey;
    width: 360px;
    height: 565px;
}
main>h1{
    padding-top: 20px;
    text-align: center;
    width: 360px;
    font-size: 30px;
    padding-bottom: 20px;

}
/*~~~~~~~~~~~ Home Page ~~~~~~~~~~~~*/
#page2 h1{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: normal;
}


.container{
    width: 300px;
    height: 305px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 29px;

}

.container>section{
    width: 130px;
    height: 130px;
    background-color: orange;
    border-radius: 3px;
}

#page2 h2{
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}
/*~~~~~~~~~~~ Manage Protests ~~~~~~~~~*/
#add_icon{
    background-color: orange;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
    position: absolute;
    margin-top: -65px;
    margin-left: 10px;
}

/*~~~~~~~~~~~ Protest Page ~~~~~~~~~*/
.btn-info {
    color: #fff;
    background-color:orange;
    border-color: orange;
    border-radius: 3px;
}

button{
    width: 78px;
    height: 50px;
    margin-left: 28px;
}

.details{
    align-items: center; 
    justify-items: right;
    margin-bottom: 20px;
}

.btn-join{
    background-color:green;
    border-color: green;
    color: white;
    border-radius: 3px;
    margin-top: 5px;
}

#joinbtn{
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
}

p{
    width: 360px;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#page3 h2{
    font-size: 16px;
    margin-left: 28px;
}

.Instructions>section>p{
    margin-left: 28px;
}

h6{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 2.0;
    margin-left: 6px;
}
    
.details>section{
    display: flex;
    margin-left: 80px;

}


/*~~~~~~~~~~~ Create protest ~~~~~~~~~*/
label{
    margin-left: 15px;
    margin-right: 15px;
    display:block;
    text-align: center;
}
label.form-check-label{
    display: inline-block;
    width: 80px;
}

.form-check{
    margin-left: 80px;
}

.btn btn-primary{
    outline-style: none;
}
#submitbtn{
    width: 100px;
    position: relative;
    left: 65px;
    margin-top: 5px;
    background-color: green;
    border-color: green;
    outline-width: 0px;
}

#returnbtn{
    width: 100px;
    position: relative;
    left: 75px;
    margin-top: 5px;
    background-color: red;
    border-color: red;
}
.form-check-label>img{
    width: 20px;
    margin-right:50px;
}

/*****************maneger**************/
#chart{
    width: 340px;
    height: 390px;
    text-align: center;
    margin-left: 10px;
}
table{
    width: 340px;
}


/*************menu**********************/
.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    margin-left: 25px;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 18px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  

